spring:
  application:
    name: auth-service
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}  # Default to dev profile
  # Database Configuration (postgresql)
  datasource:
    url: jdbc:postgresql://${DATABASE_HOST:localhost}:${DATABASE_PORT:5432}/authdb
    username: ${DATABASE_USERNAME:osama}
    password: ${DATABASE_PASSWORD:123456}
    driver-class-name: org.postgresql.Driver
  # JPA Configuration
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  # Redis Configuration (for token blacklisting)
  #redis:
  #  host: localhost
  #  port: 6379
  #  timeout: 2000ms
  # Mail Configuration
  mail:
    host: ${MAIL_SERVICE_HOST}
    port: ${MAIL_SERVICE_PORT}
    username: ${MAIL_SERVICE_USERNAME}
    password: ${MAIL_SERVICE_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
  # Kafka Configuration
  kafka:
    bootstrap-servers: ${spring.kafka.bootstrap-servers:localhost:29092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

server:
  port: 8087

# JWT Configuration
jwt:
  secret: ${JWT_SECRET_KEY:404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970}
  expiration: ${JWT_EXPIRE_IN_MS}
  refresh-expiration: 86400000

# Eureka Configuration - DISABLED by default for local development
eureka:
  client:
    enabled: ${EUREKA_CLIENT_ENABLED:false}  # Disabled by default
    service-url:
      defaultZone: ${EUREKA_SERVER_URL:http://localhost:8761/eureka/}
  instance:
    prefer-ip-address: true

# Actuator Configuration
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

# Logging
logging:
  level:
    com:
      app:
        auth: DEBUG
  #pattern:
  #  console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"

# Swagger/OpenAPI Configuration
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
  show-actuator: true

# elk stack
logstash:
  host: localhost
  port: 5000

# Enable Spring property resolution in Logback
#logging.config=classpath:logback-spring.xml

---
# Docker/Production Profile - Eureka ENABLED
spring:
  config:
    activate:
      on-profile: docker

# Activate ELK logging in Docker
logging:
  config: classpath:logback-spring-prod.xml

eureka:
  client:
    enabled: true
    service-url:
      defaultZone: http://discovery-service:8761/eureka/  # Docker DNS name
  instance:
    prefer-ip-address: true
    hostname: auth-service

# ELK Stack - Use Docker service name
logstash:
  host: logstash
  port: 5000
