spring:
  application:
    name: notification-service
  #===================== Kafka Configuration ==========================
  # Use port 29092 for local development (outside Docker)
  # Inside Docker containers, use kafka:9092
  kafka:
    bootstrap-servers: localhost:29092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring:
          json:
            add:
              type:
                headers: false
    consumer:
      group-id: notification-service-group
      auto-offset-reset: latest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

server:
  port: 8085

#=========================== External Service URLs ===========================
services:
  main-service:
    url: http://localhost:8083

#elk stack
logstash:
  host: localhost
  port: 5000
# Enable Spring property resolution in Logback
#logging:
#  config: classpath:logback-spring.xml
